//white label css

/* hide menu */
li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-56 {
    display: none;
}
li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-60 {
    display: none;
}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-264 {
    display: none;
}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-43 {
    display: none;
}
li.menu-item.menu-item-type-post_type.menu-item-object-page.current_page_parent.menu-item-20 {
    display: none;
}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-44 {
    display: none;
}
li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-56 a {
    display: none;
}
li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-56 {
    display: none;
}

/* hide vantage local logo */
div.logo a img {
    display: none;
}

/* hide footer */
footer.footer-area {
    display: none;
}
#footer {
    display: none;
}

/* show custom header */
.custom-header-image {
    display: block;
    position:absolute;top:0px;
}